extends ../../_component/layout/template

block cool-config
  -
    var myTitle = 'Learn to code CSS borders for beginners';
    var myDescription = 'CSS borders are easy and fun to learn!';
    var landingPage = 'CSS';
    var activeLink = 'css/borders';

block awesome-content
  h1=title
  p=description
  h2 Border Style
  p The border-style property specifies what kind of border to display. The following values are allowed:
  ul.listStyle
   li dotted - Defines a dotted border
   li dashed - Defines a dashed border
   li solid - Defines a solid border
   li double - Defines a double border