extends ../../_component/layout/template

block cool-config
  -
    var myTitle = 'Leave my like this';
    var myDescription = 'Please do not change anything!';
    var landingPage = 'JavaScript';
    var activeLink = '/javascript/comments';

block awesome-content
  h1=title
  p=description
  h2 You are just amazing, right?