doctype html
html
  //- - var baseUrl = "https://http://localhost:3000"
  - var baseUrl = "http://alexandru703.github.io/w3schools-replica"
  block cool-config
  head
    title=myTitle
    meta(name="descriprion", content=myDescription)
    link(rel="stylesheet", href=`${baseUrl}/style.css`)
  body
    include ../header/header
    article
      block awesome-content
    include ../nav/nav
    include ../footer/footer
